.mat-elevation-z8, .weathertable{
  width: 70%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 15px;
  margin-bottom: 40px;
}

h1 {
  margin-left: 28%;
  margin-right: 28%;
  font-size: 40px;
  font-family: cursive;
  font-weight: 800;
}

mat-form-field{
  margin-left: 10%;
}

.jumbotron {
  background-image: url('./../../assets/cloud-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}